/* VALORANT - Lars Kamman */
*, *::after, *::before {
  box-sizing:border-box;
  margin: 0; padding: 0;
}

:root {
  --v-red: #ff4655;
  --v-darkBlue: #0f1923;
  --v-white: #ffffff;
  --v-black: #000000;
  --v-stroke: #dbd8d2;
  --v-gray: #768079;

  --v-border: rgba(236,232,225,.5);
  --v-allBorder: rgb(148,149,149);
}


body::-webkit-scrollbar {
  display: none;
}

main {
  overflow-x:hidden;
  display:grid;
  grid-template-columns:5vw 90vw 5vw;
  grid-template-rows:auto auto auto auto;
}

section {
  position: relative;
  height: 100%;
  border-left: 1px solid var(--v-allBorder);
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: 400;
}

section h2 {
  font-family: Tungsten-Bold,arial,georgia,sans-serif;
  font-size: 55px;
  line-height: 0.94;
  padding-top: 25px;
  text-transform: uppercase;
  border-top: 1px solid var(--v-allBorder);
}


section h3 {
  font-family: DINNextW05-Medium,arial,georgia,sans-serif;
  font-size: 20px;
  line-height: 1.25;
  margin: 15px 0;
  text-transform: uppercase;
}

section p {
  font-family: DINNextW1G,arial,georgia,sans-serif;
  font-size: 18px;
  line-height: 1.4;
  color: var(--v-gray);
}

img, video {
  max-width: 100%;
  height: auto;
}

ul, li{
  list-style-type: none;
  list-style: none;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* HEADER MENU */
header {
  /* zoals elke goeie dev ;) */
  z-index: 9999;
}

header nav {
  height: 5em;
  background-color: var(--v-black);
  border-bottom: 0.125em solid rgba(51, 51, 51, 0.25);
  display: flex;
  align-items: center;
}

header nav ul {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row
}

header nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav ul .riotLi {
  width: 6.75em;
}

header nav ul li .riot {
  width: 10em;
  height: 10em;
  display: inline-block;
  background: url("../assets/images/header/fistsprite.png") 0 -2400px no-repeat;
  zoom: 0.33;
  transition: background-position 5s steps(15, end);
}

header nav ul .logoLi {
  margin: auto;
}

header nav ul .logo {
  height: 2em;
}

header nav ul li .lang {
  margin: 0 0.5em 0 2em;
  width: 0.875em;
  height: 0.875em;
}

header nav ul li .menuMobile {
  margin: 0 0.6875em 0 0.6875em;
  width: 2em;
  height: 2em;
  background: url("../assets/images/header/menu.svg");
}


/* FOOTER */
footer {
  background-color: var(--v-black);
  color: var(--v-gray);
  padding: 0 40px;
}

footer h4 {
  color: var(--v-gray);
  font-family: DINNextW05-Bold,arial,georgia,sans-serif;
  font-size: 12px;
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

footer a img {
  margin: 40px auto;
  display: flex;
}

footer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

footer ul li a img {
  width: 24px;
}

footer ul:nth-of-type(3) li {
  width: 49%;
  margin: 0 10px;
}

footer ul:nth-of-type(3) li {
  width: 49%;
}
